{% extends "hub/base.html" %}

{% block jumbotron %}
<h3>
    <small>Tracking <strong>[{{ items|length }}]</strong> objects for {{ character.name }}</small>
</h3>
<br>
<p>
    {% if not readonly %}
    <a class="btn btn-primary btn-lg" href="{% url create_item character.id %}">
        <span class="glyphicon glyphicon-plus-sign"></span> Add Loot!
    </a>
    {% endif %}
</p>
<p>
</p>
{% endblock %}

{% block body %}
 <div class="row">

    {% for slot in slots %}
    <table class="table table-striped">

        <thead>
            <tr>
                <th width="75"></th>
                <th>
                    <h4>
                        <span class="label label-default pull-right">
                            <strong>{{ slot.name }}</strong>
                        </span>
                    </h4>
                </th>
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
                {% if item.slot == slot %}
                    <tr>
                        <td><img class="img-thumbnail" width="40" src="{{ item.icon.image.url}}" /></td>
                        <td>
                            <p><a href="#{{ item.name|slugify}}" data-toggle="modal" data-target="#{{ item.name|slugify }}">{{ item.name }}</a></p>
                            <p><span class="badge"><small><strong>Quantity:</strong> {{ item.quantity }}</small></span></p>

                        </td>

                        <!-- Item Modal -->
                        <div class="modal fade" id="{{ item.name|slugify }}" data-toggle="#{{ item.name|slugify }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title"><strong>{{ item.name }}</strong> <a href="{% url character character.id %}#{{ item.name|slugify }}"><span class="glyphicon glyphicon-search"></span></a></h4>
                                    </div>

                                    <div class="modal-body">
                                        <p><strong>Quantity</strong>: {{ item.quantity }}</p>
                                        <p><strong>Description</strong>:</p>
                                        <pre class="item_desc">{{ item.description }}</pre>
                                        {% if item.link %}
                                        <hr>
                                        <p><strong>Reference:</strong> <a target="_blank" href="{{ item.link }}">{{ item.link }}</a></p>
                                        {% endif %}
                                    </div>

                                  {% if not readonly %}
                                  <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{ item.name|slugify }}-trash-modal">Trash</button>
                                        <a class="btn btn-success" href="{% url update_item character.id item.id %}">Modify</a>
                                  </div>
                                  {% endif %}
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                        <div class="modal fade" id="{{ item.name|slugify }}-trash-modal" tabindex="-1" role="dialog" aria-labelledby="{{ item.name|slugify }}-trash-modalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p>Are you sure you want to <strong>DELETE</strong> item <strong>{{ item.name }}</strong></p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{% url trash character.id item.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger">Trash</button>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>

    </table>
    {% endfor %}
 </div>

{% endblock %}

{% block modal %}
    !-- jump to anchor and expand item. -->
    <script type="application/javascript">
    if(window.location.hash) {
        h = window.location.hash;
        item = document.getElementById(h.replace('#', ''));
        if (item) {
            $(h).modal('show');
        }
    }
    </script>
{% endblock %}