{% extends "hub/base.html" %}

{% block loot_button %}
<p>
    {% if not readonly %}
    <button type="button" class="btn btn-default btn-ls" data-toggle="modal" data-target="#newItemModal">
    <span class="glyphicon glyphicon-plus-sign"></span> Add Loot!
    </button>
    {% endif %}
</p>
<p>
    <h4><small><strong>{{ character.name }}'s</strong> Inventory [{{ items|length }}]</small></h4>
</p>
{% endblock %}

{% block loot_modal %}
{% if not readonly %}
<div class="modal fade" id="newItemModal" tabindex="-1" role="dialog" aria-labelledby="newItemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/add/{{ character.id }}/" method="post">
      {% csrf_token %}
      <div class="modal-body">
        <p><strong>Item Name</strong>:
        <span class="help-block">This should need no explanation.</span>
        <input type="text" name="name" class="form-control">
        </p>
        <p><strong>Quantity</strong>:
        <span class="help-block">How many of the item do you have in your possession.</span>
        <input type="number" name="quantity" class="form-control">
        </p>
        <p><strong>Description</strong>:
        <span class="help-block">The place to put all rule text and reference links.</span>
        <textarea name="description" class="form-control" rows="5"></textarea>
        </p>

        <p><strong>Icon</strong>:
        <span class="help-block">Created by <a target="_blank" href="http://www.pixeljoint.com/pixelart/44976.htm"><strong>Ailas</strong></a></span>
        </p>

        <div class="icon-box">
        {% for icon in icons %}
            <label class="checkbox-inline">
            <input class="button" type="radio" name="icon" value="{{ icon.id }}">
            <img style="padding: 5px;" width="40" src="{{ icon.image.url }}" />
            </label>
        {% endfor %}
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add Loot!</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block body %}
{% for slot in character.slots.iterator %}
    <div class="row">
    <div class="container-fluid">
    <h3>{{ slot.name }}</h3>

{% for item in slot.items.iterator %}
<div class="panel-group" id="{{ item.name|slugify }}-accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
            <div class="row">
                <div class="col-md-12">
                    <a style="outline: 0;" data-toggle="collapse" data-parent="#{{ item.name|slugify }}-accordion" href="#{{ item.name|slugify }}">
                    <table>
                    <tr>
                    <td width="50">
                    <img class="img-thumbnail" width="40" src="{{ item.icon.image.url}}" />
                    </td>
                    <td>{{ item.name }}</td>
                    </tr>
                    </table>
                    </a>
                </div>
            </div>
            </h4>
        </div>

        <div id="{{ item.name|slugify }}" class="panel-collapse collapse">
            <a name="{{ item.name|slugify }}-anchor"></a>
            <div class="panel-body">
                <p><strong>Quantity</strong>: {{ item.quantity }}</p>
                <p><strong>Description</strong>:</p>
                <pre class="item_desc">{{ item.description }}</pre>

                {% if not readonly %}
                <hr>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#{{ item.name|slugify }}-update-modal">Update</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{ item.name|slugify }}-trash-modal">Trash</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if not readonly %}
<!-- Update Loot Modal -->
<div class="modal fade" id="{{ item.name|slugify }}-update-modal" tabindex="-1" role="dialog" aria-labelledby="{{ item.name|slugify }}-update-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/update/{{ character.id }}/{{ item.id }}/" method="post">
            {% csrf_token %}
            <div class="modal-body">
                <p>
                    <strong>Item Name</strong>:
                    <span class="help-block">This should need no explanation.</span>
                    <input type="text" name="name" class="form-control" value="{{ item.name }}">
                </p>

                <p>
                    <strong>Quantity</strong>:
                    <span class="help-block">How many of the item do you have in your possession.</span>
                    <input type="number" name="quantity" class="form-control" value="{{ item.quantity }}"></p>
                <p>
                    <strong>Description</strong>:
                    <span class="help-block">The place to put all rule text and reference links.</span>
                    <textarea name="description" class="form-control" rows="5">{{ item.description }}</textarea>
                </p>

                <p><strong>Icon</strong>:
                    <span class="help-block">Created by <a target="_blank" href="http://www.pixeljoint.com/pixelart/44976.htm"><strong>Ailas</strong></a></span>
                </p>

                <div class="icon-box">
                {% for icon in icons %}
                    <label class="checkbox-inline">
                    <input class="button" type="radio" name="icon" value="{{ icon.id }}" {% if item.icon.id == icon.id %}checked{% endif %}>
                    <img style="padding: 5px;" width="40" src="{{ icon.image.url }}" />
                    </label>
                {% endfor %}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update Loot!</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Trash Loot Modal -->
<div class="modal fade" id="{{ item.name|slugify }}-trash-modal" tabindex="-1" role="dialog" aria-labelledby="{{ item.name|slugify }}-trash-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to <strong>DELETE</strong> item <strong>{{ item.name }}</strong></p>
            </div>
            <div class="modal-footer">
                <form action="/trash/{{ character.id }}/{{ item.id }}/" method="post">
                {% csrf_token %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Trash Loot!</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endfor %}
    </div>
    </div>
{% endfor %}

<!-- jump to anchor and expand item. -->
<script type="application/javascript">
    if(window.location.hash) {
        h = window.location.hash
        h = h.replace('-anchor', '');
        h = h.replace('#', '');
        item = document.getElementById(h);
        item.className += " " + "in";
    }
</script>

{% endblock %}
