{% extends "hub/base.html" %}

{% block jumbotron %}
<h3>
    <small>Tracking <strong>[{{ items|length }}]</strong> objects for {{ character.name }}</small>
</h3>
<br>
<p>
    {% if not readonly %}
    <a class="btn btn-primary btn-lg" href="{% url create_item character.id %}">
        <span class="glyphicon glyphicon-plus-sign"></span> Add Loot!
    </a>
    {% endif %}
</p>
<p>
</p>
{% endblock %}

{% block body %}
 <div class="row">

    {% if not readonly %}
     <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#create-slot">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    {% endif %}

    {% for slot in slots %}
    {% if not readonly %}
    <div class="modal fade" id="slot-{{ slot.name|slugify }}" tabindex="-1" role="dialog" aria-labelledby="slot-{{ slot.name|slugify }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form action="{% url rename_slot character.id slot.id %}" method="post">
                <div class="modal-body">
                    <p>
                        <strong>Update slot name</strong>:
                        <span class="help-block">Give this slot a useful name.</span>
                        <input type="text" name="name" class="form-control" value="{{ slot.name }}">
                    </p>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger" href="{% url delete_slot character.id slot.id %}">Delete <small>(All items will be lost.)</small></a>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <table class="table table-striped">

        <thead>
            <tr>
                <th width="75"></th>
                <th>
                    <h4>
                        <span class="label label-default pull-right" data-toggle="modal" data-target="#slot-{{ slot.name|slugify }}">
                            <strong>{{ slot.name }}</strong>
                        </span>
                    </h4>
                </th>
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
                {% if item.slot == slot %}
                    <tr>
                        <td><img class="img-thumbnail" width="40" src="{{ item.icon.image.url}}" /></td>
                        <td>
                            <p><a href="#{{ item.name|slugify}}" data-toggle="modal" data-target="#{{ item.name|slugify }}">{{ item.name }}</a>
                                <span class="badge {% if item.quantity <= 0 %}mybadage-empty{% else %}mybadage{% endif %}">{{ item.quantity }}</span>
                        </td>

                        <!-- Item Modal -->
                        <div class="modal fade" id="{{ item.name|slugify }}" data-toggle="#{{ item.name|slugify }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title"><strong>{{ item.name }}</strong> <a href="{% url character character.id %}#{{ item.name|slugify }}"><span class="glyphicon glyphicon-link"></span></a></h4>
                                    </div>

                                    <div class="modal-body">
                                        <p>
                                            <strong>Quantity</strong>: {{ item.quantity }}
                                        </p>
                                        <p><strong>Description</strong>:</p>
                                        <pre class="item_desc">{{ item.description }}</pre>
                                        {% if item.link %}
                                        <hr>
                                        <p><strong>Reference:</strong> <a target="_blank" href="{{ item.link }}">{{ item.link }}</a></p>
                                        {% endif %}
                                    </div>

                                  {% if not readonly %}
                                  <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <a class="btn btn-danger" href="{% url trash character.id item.id %}">Trash</a>
                                        <a class="btn btn-success" href="{% url update_item character.id item.id %}">Modify</a>
                                  </div>
                                  {% endif %}
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>

    </table>
    {% endfor %}
 </div>

{% endblock %}

{% block modal %}
    {% if not readonly %}
    <div class="modal fade" id="create-slot" tabindex="-1" role="dialog" aria-labelledby="create-slot" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                <form action="{% url create_slot character.id %}" method="post">
                <div class="modal-body">
                    <p>
                        <strong>Create new slot</strong>:
                        <span class="help-block">Give this slot a useful name.</span>
                        <input type="text" name="name" class="form-control">
                    </p>
                </div>
                <div class="modal-footer">
                    {% csrf_token %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <script type="application/javascript">
    if(window.location.hash) {
        h = window.location.hash;
        item = document.getElementById(h.replace('#', ''));
        if (item) {
            $(h).modal('show');
        }
    }

    {% for item in items %}
    $('#{{ item.name|slugify }}').on('shown.bs.modal', function (e) {
        window.location.hash = '{{ item.name|slugify }}';
    });
    {% endfor %}

    {% for item in items %}
    $('#{{ item.name|slugify }}').on('hidden.bs.modal', function (e) {
        window.location.hash = '';
        return false;
    });
    {% endfor %}

    </script>


{% endblock %}