{% extends "hub/base.html" %}

{% block body %}
        <div class="col-lg-3"></div>

        <div class="col-lg-6">

        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}

        <form name="login" action="/login/" method="POST">
        {% csrf_token %}
         <p>
            <strong>Username</strong>:
            <input type="text" name="username" class="form-control">
        </p>

        <p>
            <strong>Password</strong>:
            <input type="password" name="password" class="form-control">
        </p>
        <button type="submit" class="btn btn-primary">Login</button>
        </form>
        </div>

        <div class="col-lg-3"></div>

{% endblock %}