{% extends "hub/base.html" %}

{% block body %}
   <h3><strong>Your Characters</strong>
        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#add-character-modal">
          <span class="glyphicon glyphicon-plus"></span> Add New Character!
        </button>
   </h3>

   {% for character in characters %}
       <p><span class="glyphicon glyphicon-pushpin"></span> <a href="{% url character character.id %}">{{ character.name }}</a></p>
   {% endfor %}
{% endblock %}

{% block modal %}
<div class="modal fade" id="add-character-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url create_character %}" method="post">
            <div class="modal-body">
                <p>
                    <strong>Character Name</strong>:
                    <span class="help-block">Who own's this Bag of Holding?</span>
                    <input type="text" name="name" class="form-control">
                </p>
            </div>
            <div class="modal-footer">
                {% csrf_token %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add Character</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}